.content {

    background-color: skyblue;
    color: crimson;
    
    .margin {
        margin-left: 1em;
    } 

    .errormsg {
        font-family: 'Courier New', Courier, monospace;
    }
}


// .content {

//     background-color: #fafafa;
//     padding: 20px;
 
//     .header {
//         color: red;
//      }
     
//      .error-message {
//         font-size: 20px;
//         color: gray;
//      }
 
//  }